/* Inspiration + CSS "intro" credits: bones.sesh.team */
/* Sources used list:
    - spinbot.pw (video tag, #center),
    - http://static.tumblr.com/zlim8hm/29yn6561z/force-cursor.png (cursor),
    - https://github.com/tsenart/sight/blob/master/fonts/Consolas.ttf (font),
    - https://emerald.gg/images/dot.png (2x2 dot, inspiration and pattern CSS)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap');

.mark{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: .1px #3b1063;
}
.mark:hover{
  text-decoration: underline;
}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #e4e3e3;
  text-decoration: none;
}

body,
input {
  color: #e4e3e3;
  background-color: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

input {
  outline: 0;
  border: none;
}

td {
  padding: 3px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-style: dashed;
}

pre {
  font-size: 1.15em;
}

.box,
body,
input {
  background-color: #000;
}

.box {
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#brand {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand2 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand3 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand4 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand5 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand6 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
#brand7 {
  -webkit-text-stroke: .35px #3b1063;
  margin-left: 0.65pc;
}
.we{
  -webkit-text-stroke: .1px #3b1063;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  -webkit-text-stroke: .1px #3b1063;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inRow{
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-gap: 10px /* This adds space between elements, only works on grid items */
}
.inColumn{
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 15px;
}


.marquee-container {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}

#marquee {
  width: 420px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -4.5px;
  font-size: 15px;
}

.emoticon {
  vertical-align: middle;
}

.main {
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -3;
}
#pattern {
  background: transparent url('../others/dot.png') repeat 0 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: 1;
}

#pattern,
#background {
  position: absolute;
  width: 100%;
  height: 100%;
}

#background {
  z-index: -2;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 135%;
  min-height: 110%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.footer {
  position: absolute;
  bottom: 0;
  right: 5px;
}

::-webkit-scrollbar {
  width: 0;
} 
/* Buttons */

.buttons {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-link{
  animation: up 2s;
  padding: 16px 44px;
  width: 95%;
  text-align: center;
  background-color: #0d0d0e;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  -webkit-box-shadow:0px 0px 17px 1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.57);
  cursor: pointer;
  color: #a770da;
  transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  margin-bottom: 22px;
}
.btn-link:hover{
  -webkit-box-shadow:0px 0px 20px 1px rgb(47 47 47 / 90%);
  -moz-box-shadow: 0px 0px 20px 1px rgb(47 47 47 / 90%);
  box-shadow: 0px 0px 20px 1px rgb(47 47 47 / 90%);
  transform: scale(0.95);
}
.btn-link:active{
  transform: scale(0.92);
}